<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <h1>Aurora Library</h1>
                  </svg>
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#features" class="nav-link px-2">Features</a></li>
            <li><a href="#FAQ" class="nav-link px-2">FAQs</a></li>
            <li><a href="#about" class="nav-link px-2">About</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <form action="/loginOrSignIn" method="POST">
                <button type="submit" class="btn btn-outline-primary me-2" name="select" value="login">Login</button>
                <button type="submit"  class="btn btn-primary" name="select" value="sign">Sign-up</button>
            </form>
          </div>
        </header>
      </div>

      <div class="container px-4 py-5" id="features">
            <h2>Features</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">A Journey Through Pages</h3>
              <p>A library is a gateway to endless ideas and discoveries, offering a diverse collection of books across every imaginable topic. From timeless classics to the latest bestsellers, libraries provide resources for every reader </p>
              
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Guiding Curiosity</h3>
              <p>Unlock knowledge with expert guidance! Whether you're searching for the perfect book, conducting research, or exploring new ideas, our **personalized assistance and research support** ensure you find exactly what you need. Let curiosity lead the way—we're here to help every step of the journey.</p>
              
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                    <path d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">Like Home</h3>
              <p>Discover the perfect space for focus and creativity in our library’s study rooms and quiet areas, designed to help you dive into your work or enjoy a peaceful moment. With public computers and free Wi-Fi, you're always connected and equipped for research or projects. Whether you're working solo or collaborating, our space empowers you to achieve your best.</p>
              
            </div>
          </div>
        </div>
      </div>


      <div class="container  px-4 py-5" id="FAQ">
        <h2 class="mb-5">FAQ</h2>
        <div class="item border rounded p-3 shadow-sm bg-light mb-3">
            <p class="question fw-bold text-primary mb-1">1. How do I get a library card?</p>
            <span class="text-muted">To get a library card, simply visit the front desk with a valid ID and proof of address. Some libraries also allow online registration. Once issued, your card grants access to book borrowing, digital resources, and other library services.</span>
        </div>

        <div class="item border rounded p-3 shadow-sm bg-light mb-3">
            <p class="question fw-bold text-primary mb-1">2. How long can I borrow books, and can I renew them?</p>
            <span class="text-muted">Most books can be borrowed for 2-4 weeks, depending on library policies. If you need more time, you can renew your books online, through the library app, or by visiting in person—unless the book is on hold for another reader.</span>
        </div>

        <div class="item border rounded p-3 shadow-sm bg-light mb-3">
            <p class="question fw-bold text-primary mb-1">3. Does the library offer digital resources like e-books or audiobooks?</p>
            <span class="text-muted">Yes! Many libraries provide access to e-books, audiobooks, online journals, and research databases. You can access these resources through the library’s website or app using your library card.</span>
        </div>

        <div class="item border rounded p-3 shadow-sm bg-light mb-3">
            <p class="question fw-bold text-primary mb-1">4. Are there quiet study areas or meeting rooms available?</p>
            <span class="text-muted">Yes, most libraries have dedicated quiet zones for studying and private meeting rooms for group work. Some meeting rooms may require reservations, which can be made online or at the library’s front desk.</span>
        </div>

        <div class="item border rounded p-3 shadow-sm bg-light ">
            <p class="question fw-bold text-primary mb-1">5. What happens if I return a book late?</p>
            <span class="text-muted">Late returns may result in a small overdue fee, depending on the library's policy. Some libraries have eliminated late fees, but if you lose a book, you may need to replace it or pay a fine. Always check due dates to avoid penalties!</span>
        </div>
    </div>


    <div class="px-4 pt-5 my-5 text-center" id="about">
        <h1 class="display-4 fw-bold text-body-emphasis">About Aurora</h1>
        <div class="col-lg-6 mx-auto ">
          <p class="lead mb-4 " style="text-align: justify !important;">Our library is a treasure trove of knowledge, offering a vast and diverse collection of resources for every reader. From bestselling novels and timeless classics to academic research papers, historical archives, and specialized textbooks, we provide content that caters to all interests and learning needs. Beyond printed books, our digital collection includes e-books, audiobooks, online journals, and research databases, ensuring that knowledge is always within reach.

            For students and researchers, we offer scholarly articles, reference materials, and subject-specific resources to support academic growth. Meanwhile, young readers can enjoy interactive storybooks, children’s literature, and engaging educational materials designed to spark curiosity and imagination.
            
            Whether you're looking for fiction, non-fiction, poetry, biographies, or self-improvement guides, our library is constantly evolving to bring you the latest and most relevant content. Dive into a world of endless learning and discovery—your next great read is waiting!</p>
          
        </div>
        
      </div>
    


      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© <%=year%> OGA Production</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="32" height="32"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/>
              </svg></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="32" height="32"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
              </svg></use></svg></a></li>
            
          </ul>
        </footer>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>